body {
  font-family: sans-serif;
  margin: 0;
  background-color: #4d4d4d;
}
h1 {color: #1a1a1a;}
h2 {color: White;}
h3 {color: White;}
p {color: White;}
a:link {color: DodgerBlue;}
a:visited {color: DarkOrchid;}
a:hover {color: DeepSkyBlue;}
a:active {color: DeepSkyBlue;}

.header {
  padding: 10px;
  text-align: center;
  background: DodgerBlue;
}
.header h1 {
  font-size: 40px;
}

.navbar {
  overflow: hidden;
  background-color: #333333;
}
.navbar a {
  float: left;
  display: block;
  color: White;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbar a.right {
  float: right;
}
.navbar a:hover {
  background-color: #00b8e6;
  color: black;
}

.togglebuttons {
  overflow: hidden;
  background-color: #3a3a3a;
}
.togglebuttons button {
  float left;
  display: block;
  background-color: #3a3a3a;
  border: none;
  color: White;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}
.togglebuttons button:hover {
  background-color: #00b8e6;
  color: black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.leftside {
  flex: 1;
  background-color: #404040;
  padding: 10px;
}
.main {
  flex: 3;
  background-color: #4d4d4d;
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .navbar a {
    float: none;
  }
  .navbar a.right {
    float: none;
  }
  .row {
    flex-direction: column;
  }
  .leftside {
    flex: initial;
  }
  .main {
    flex: initial;
  }
}

.repolink {
  background-color: #333333;
  color: DodgerBlue;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 7px;
  cursor: pointer;
  text-decoration: none;
}
.repolink:visited {color: DodgerBlue;}
.repolink:hover {
  background-color: #00b8e6;
  color: black;
}

.resumelink {
  background-color: #333333;
  color: DodgerBlue;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}
.resumelink:visited {color: DodgerBlue;}
.resumelink:hover {
  background-color: #00b8e6;
  color: black;
}
